html {
  border-box: box-sizing;
  margin: 0,
}

body {
  border-box: box-sizing;
  margin: 0;
  background-color: black;
  /* position:relative; */
}

.grandparent {
  background-color: white;
  height: 100vh;
  width:  auto;
  position: relative;
}

.div-1-parent {
  background-color: blue;
  height: 5vh;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  margin: 0;
  border-box: box-sizing;
  
}


.div-1 {
  left: 5px;
  position: relative;
  width: 100%;
  margiin: auto;
  color: white;
}

.div-1-p {
  background-color: black;
  color: white;
  left: 5px;
  position: relative;
}


.div-2-parent{
  background-color: black;
  height: 15vh;
  width: 50%;
  position: relative;
  top: 20%;
  text-align: center;
  font-size: 18px;
  text-align: center;
  margin: auto;
  
}

.div-2-first-child {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

.div-2-fs1-h1 {
  font-size: 18px;
  color: white;
  position: relative;
  margin: auto;
}

.div-2-second-child {
  background-color: white;
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

form {

}

label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
    color: black;
}

button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(0, 0, 220, 100);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
   font:
    1rem 'Fira Sans',
    sans-serif;
}

button:hover {
  background-color: rgba(255, 0, 0, 1);
}

button:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


input {
 font:
    1rem 'Fira Sans',
    sans-serif;
  margin: 0.4rem 0;
}

.container {
  position: relative;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-align: center;
  color: white;
}

.inner-container {
  border-box: box-sizing;
  margin: 0;
  height: 15vh;
  background-color: blue;
  position: relative;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-align: center;
  color: white;
}
